body {
    font-family: Arial;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 420px;
    border-radius: 12px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 6px;
}

button {
    padding: 10px 15px;
    background: #2a5298;
    color: white;
    border: none;
}
